#head,
.logo,
.dropdown-item,
#main-menu,
.main-menu-item:hover,
#settings,
.one-tab:hover,
.one-tab.active{
    color: #fff;
}
.logo,
.main-menu-toggle:hover,
.side-bar-item:hover,
.dropdown-item:hover{
    background-color: #367fa9;
}
.logo:hover{
    background-color: #357ca5;
}
.head-bar,
.dropdown-item{
    background-color: #3c8dbc;
}
#main-menu-bg,
.main-menu-panel,
#settings,
.one-tab.active,
.one-tab:hover.active{
    background-color: #222d32;
}
.main-menu-head {
    color: #4b646f;
}
.main-menu-head,
.one-tab{
    background-color: #1a2226;
}
.main-menu-item,
.one-tab{
    color: #b8c7ce;
}
.main-menu-item:hover,
.main-menu-panel:hover,
.one-tab:hover{
    background-color:#1e282c;
}
.sub-menu{
    background-color: #2c3b41;
}