#AddDefaultCharset utf-8 #Кодировка не работает

RewriteEngine On
RewriteBase /

# Rewrite www.domain.com -> domain.com -- used with SEO Strict URLs plugin
#RewriteCond %{HTTP_HOST} .
#RewriteCond %{HTTP_HOST} !^mysite\.ua\.tmp [NC]
#RewriteRule (.*) http://mysite.ua.tmp/$1 [R=301,L]

#Rewrite used with SEO Strict URLs plugin
RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /index\.(php|shtml|html|aspx|htm)(.*)\ HTTP/
RewriteRule ^index\.(php|shtml|html|aspx|htm)(.*)$ http://mysite.ua.tmp/$2 [R=301,L]

RewriteCond %{REQUEST_URI} ^/ajax.*$
RewriteRule ^.*$ ajax.php [L]

RewriteCond %{REQUEST_URI} !^/ajax/
RewriteRule !\.(js|ico|gif|jpg|png|css|zip|xml|otf|eot|svg|ttf|woff|woff2)$ index.php [L]

Options -Indexes

php_flag magic_quotes_gpc off
php_flag register_globals off
php_flag short_open_tag on

<Files "*.ini">
 Order allow,deny
 Deny from all
</Files>

<Files "*.tmp">
 Order allow,deny
 Deny from all
</Files>

<Files "*.inc">
 Order allow,deny
 Deny from all
</Files>