nav{
    width: 200px;
}
.menu{
    margin: 0 0 0 10px;
}
.menu-item{
    background: #00a3a3;
    position: relative;
    margin: 5px 0;
    display: flex;
}
.toggle-menu{
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
}
.add-tree-leaf{
    cursor: pointer;
}