*{
    box-sizing: border-box;
}
a {
    color: #337ab7;
    text-decoration: none;
}
html, body{
    margin: 0;
    min-height: 100%;
    height: 1px;
}
body{
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif;
}

.float-left{
    float: left;
}
.float-right{
    float: right;
}
.clear{
    clear: both;
}
.link{
    cursor: pointer;
}

#container{
    /* Позиционирование */
    position: relative;

    /* Блочная модель */
    min-height: 100%;

    /* Типографика */

    /* Отображение */
    background-color: #ecf0f5;

    /* Прочее */
    overflow: hidden;
}
#head{
    /*Позиционирование*/
    z-index: 1000;
    /*Блочная модель*/
    height: 50px;
    /*Типографика*/
    /*Отображение*/
    /*Прочее*/
}
#body{
    display: flex;
}
#main-menu{
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 50px;
    z-index: 860;

    width: 230px;
    min-height: 100%;

    -webkit-transition: width .3s ease-in-out;
    -moz-transition: width .3s ease-in-out;
    -o-transition: width .3s ease-in-out;
    transition: width .3s ease-in-out;
}
#center{
    z-index: 800;

    padding-left: 230px;
    padding-bottom: 50px;
    width: 100%;

    -webkit-transition: padding-left .3s ease-in-out;
    -moz-transition: padding-left .3s ease-in-out;
    -o-transition: padding-left .3s ease-in-out;
    transition: padding-left .3s ease-in-out;
}
#settings{
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 50px;
    z-index: 900;

    width: 0;
    min-height: 100%;

    color: #fff;

    background: #222d32;

    -webkit-transition: width .3s ease-in-out;
    -o-transition: width .3s ease-in-out;
    transition: width .3s ease-in-out;
}
#footer-buffer{
    min-width: 1px;
    height: 50px;
}
#footer{
    position: relative;
    margin-top: -50px;
    margin-left: 230px;
    z-index: 850;

    padding: 15px;
    height: 50px;

    color: #444;

    border-top: 1px solid #d2d6de;
    background: #fff;

    -webkit-transition: margin-left .3s ease-in-out;
    -moz-transition: margin-left .3s ease-in-out;
    -o-transition: margin-left .3s ease-in-out;
    transition: margin-left .3s ease-in-out;
}

.logo{
    padding: 0 15px;
    display: block;
    width: 230px;
    height: 50px;

    font-size: 25px;
    line-height: 50px;
    text-align: center;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 300;

    -webkit-transition: width .3s ease-in-out;
    -o-transition: width .3s ease-in-out;
    transition: width .3s ease-in-out;
    overflow: hidden;
}
.logo-mini{
    display: none;
    font-size: 20px;
}
.logo-lg{
    display: block;
}
.head-bar{
    margin-left: 230px;

    min-height: 50px;

    font-size: 20px;

    -webkit-transition: margin-left .3s ease-in-out;
    -o-transition: margin-left .3s ease-in-out;
    transition: margin-left .3s ease-in-out;
}
.main-menu-toggle{
    padding: 14px;
    height: 50px;
    cursor: pointer;
}
.side-bar{
    display: flex;
    height: 50px;
}
.side-bar-item{
    position: relative;
    padding: 15px;
    cursor: pointer;
}
.dropdown-hover:hover + .dropdown-menu,
.dropdown-hover + .dropdown-menu:hover{
    top: 50px;
    opacity: 1;
    visibility: visible;
}
.dropdown-hover + .dropdown-menu{
    top: 75px;
    display: block;
    visibility: hidden;

    opacity: 0;
    -webkit-transition: all .5s ease-in-out 0.2s, opasity .3s ease-in-out 0.2s;
    -o-transition: all .5s ease-in-out 0.2s, opasity .3s ease-in-out 0.2s;
    transition: all .5s ease-in-out 0.2s, opasity .3s ease-in-out 0.2s;
}
.dropdown-menu{
    position: absolute;
    top: 50px;
    margin-left: -150px;
    z-index: 1100;
    display: none;
    width: 150px;
}
.dropdown-item{
    padding: 15px;
    display: block;

    border-top: solid 1px #fff;

    cursor: pointer;
}


.main-menu-head{
    padding: 10px 15px;
    font-size: 12px;
    text-overflow: clip;
    white-space: nowrap;
    overflow: hidden;
}
.main-menu-item{
    position: relative;
    display: block;
    white-space: nowrap;
    cursor: pointer;
}
.main-menu-item:after{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-left: 3px solid #3c8dbc;
    transform: scale(1,0);
    transition: transform .3s ease-in-out;
    content: '';
}
.main-menu-item:hover:after{
    transform: scale(1,1);
}
.main-menu-btn{
    position: relative;
    z-index: 100;
    padding: 12px 5px 12px 15px;
    text-overflow: clip;
    white-space: nowrap;
    overflow: hidden;
}
.main-menu-btn > .fa{
    width: 20px;
}
.toggle-sub-menu{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 101;
    padding: 12px 10px;
    cursor: pointer;
}
.toggle-sub-menu .fa{
    transition: transform .3s ease-in-out;
}
.sub-menu{
    display: none;
    padding-left: 20px;
}
.main-menu-panel{
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    width: 0;
    height: 42px;
    font-size: 24px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    overflow: hidden;
    transition: right .3s ease-in-out, width .3s ease-in-out;
}
.main-menu-item:hover .main-menu-panel{
    right: -10px;
    width: 10px;
}
.main-menu-item:hover .main-menu-panel:hover{
    right: -84px;
    width: 84px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}
.main-menu-panel:hover .panel-elem{
    display: block;
    width: 42px;
}
.panel-elem{
    padding: 8px 11px;
    display: none;
    width: 0;
    transition: width .3s ease-in-out;
}
.main-menu-panel:hover .arr-hover{
    display: none;
}
.arr-hover{
    padding: 6px 0;
}
.panel-elem.add-tree-leaf{
    background-color: #0b0;
}
.panel-elem.add-tree-leaf:hover{
    background-color: #0d0;
    color: #D2FFD2;
}
.panel-elem.del-tree-leaf{
    background-color: #b00;
}
.panel-elem.del-tree-leaf:hover{
    background-color: #d00;
    color: #FFDFDF;
}


.add-type{
    cursor: pointer;
    background: #acacac;
    color: #fff;
    padding: 5px;
}

.delete-type{
    color: #d9d9d9;
    cursor: pointer;
}
.delete-type:hover{
    color: #f00;
}